@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?66481ffa510cf5bfc6fd3338cc88e33e") format("truetype"),
    url("./flaticon.woff?66481ffa510cf5bfc6fd3338cc88e33e") format("woff"),
    url("./flaticon.woff2?66481ffa510cf5bfc6fd3338cc88e33e") format("woff2"),
    url("./flaticon.eot?66481ffa510cf5bfc6fd3338cc88e33e#iefix")
      format("embedded-opentype"),
    url("./flaticon.svg?66481ffa510cf5bfc6fd3338cc88e33e#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-information:before {
  content: "\f101";
}
.flaticon-upload:before {
  content: "\f102";
}
.flaticon-loupe:before {
  content: "\f103";
}
.flaticon-double-right-arrows-angles:before {
  content: "\f104";
}
.flaticon-settings:before {
  content: "\f105";
}
.flaticon-import:before {
  content: "\f106";
}
